---
import Layout from "../layouts/Layout.astro";
import NewsletterSignup from '../components/NewsletterSignup.astro';
---

<Layout>
  <!-- Hero Section -->
  <section
    class="relative flex items-center justify-center h-screen bg-[#3D4A3A]"
    style="height: 40vh;"
  >
    <div class="container mx-auto px-8 text-center">
      <h1 class="text-5xl md:text-6xl font-bold mb-8 text-white font-departure">
        Newsletter
      </h1>
    </div>
  </section>

  <NewsletterSignup />
</Layout>

