---
interface Props {
  id: string;
  title: string;
  description: string;
}

const { id, title, description } = Astro.props;
---

<section
  id="hero"
  class="relative flex items-end justify-start bg-[#3D4A3A] h-[55vh]"
>
  <div class="container mx-auto px-8 pb-8 text-left">
    <h2 class="text-white text-lg font-bold mb-2">
      Challenge / {id}
    </h2>
    <h1 class="text-5xl md:text-6xl font-bold mb-8 text-white font-departure">
      {title}
    </h1>
    <p class="text-white text-lg mb-4">
      {description}
    </p>
  </div>
</section> 