---
import { Image } from "astro:assets";
// import localBirdImage from '../../images/subfolder/localBirdImage.png';
import newsletterGraphic from "../assets/img/newsletter-graphic.png";
---

<section class="py-16 bg-gray-50 dark:bg-gray-800" id="newsletter">
  <div
    class="container mx-auto px-8 flex flex-col lg:flex-row items-center lg:gap-12"
  >
    <!-- Left Content -->
    <div class="lg:w-1/2 mb-8 lg:mb-0">
      <h2
        class="text-3xl md:text-4xl font-bold mb-4 text-[#1C1C1C] dark:text-[#E5E5E5] font-departure"
      >
        Receive weekly updates on how to get the most leverage from AI.
      </h2>
      <p class="text-lg mb-6 text-[#1C1C1C] dark:text-[#E5E5E5]">
        Join our community of creative and ambitious builders, exploring the
        frontier of AI.
      </p>
      <form class="flex flex-col sm:flex-row gap-3">
        <a
          href="https://dayoneacademy.substack.com/subscribe"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block mt-4 px-6 py-3 bg-[#D4A73A] text-white font-medium rounded-lg hover:bg-[#c29732] transition-colors cursor-pointer uppercase"
        >
          Subscribe
        </a>
      </form>
      <p class="text-sm mt-4 text-[#1C1C1C] dark:text-[#E5E5E5]">
        Useful insights, thoughtfully curated. No spam.
      </p>
    </div>

    <!-- Right Graphic -->
    <div class="hidden lg:block lg:w-1/2">
      <Image src={newsletterGraphic} alt="Graphic" class="w-full h-auto" />
    </div>
  </div>
</section>
